@page{
    size: A4; /* Tamaño carta */
}

body{
    font-size: 12pt;
    font-family:sans-serif;
    background-color: #000;
    color: #fff;
}

@media print{
    @page{
        size: A3 landscape; /* forma horizontal */
    }

    body{
        font-size: 12pt;
        font-family:sans-serif;
        background-color: #222;
        color: greenyellow;
    }
}

